<fieldset>
  <legend>Solver</legend>

  <form id="clue-form">
    <div id="clue-input">
      <label for="clue-string">Clue: </label>
      <input type="text"
             name="clueString"
             id="clue-string"
             [(ngModel)]="clueString"
             size="80"
             placeholder="Full clue including length, e.g. '...and Pan's Dream, perhaps (9)'"
      />
      <button name="parse" type="submit" (click)="parse()">Parse</button>
      <button (click)="clear()">Clear</button>
    </div>
  </form>

  <div *ngIf="clue">
    <form id="knownletters-form">
      <span>Letters: </span>

      <span >
        <input
          *ngFor="let l of clue.knownLetters, let i = index, trackBy: trackByIndex"
          [name]="'knownLetters-' + i"
          [(ngModel)]="clue.knownLetters[i]"
          type="text" size="1" maxlength="1"
          (keyup)="moveToNext($event)"
        />
      </span>
      <button name="solve" type="submit" (click)="solve()">Solve</button>
    </form>
  </div>

</fieldset>

<fieldset *ngIf="solution">
  <legend>Solution</legend>
  <app-word-list [items]="solution['words']"></app-word-list>
</fieldset>


